<div class="row">
	<p> Order_id: <%= item.order_id %> </p>
	<p> Product_id: <%= item.product_id %> </p>
	<p> Product_name: <%= item.product_name %> </p>
	<p> Product_price: <%= item.product_price %> </p>
</br>
</div>